# Игнорировать папку .godot, если она есть
.godot/

# Игнорировать данные, созданные для импорта ресурсов
.import/
*.import

# Игнорировать файлы настроек, уникальные для локального компьютера
.settings/

# Игнорировать скомпилированные бинарные файлы (если они присутствуют)
bin/
Extensions/

# Игнорировать пользовательский контент
Catalog/
MainMenu/Audio/
Preferences/