# Ignore base .godot folder
.godot/

# Ignore engine related recources
.import/
*.import
*.uid

# Ignore settings configs, that are unique for every pc
.settings/

# Ignore compiled files (If they exist)
bin/
Extensions/

# Ignore user content
MainMenu/Audio/
Preferences/*